@import url(https://fonts.googleapis.com/css?family=Roboto);#root, #app {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased; }

.login {
  min-height: 100vh; }

.login-logo {
  min-height: 50px;
  margin-bottom: 25px; }

.login-title {
  text-align: center;
  font-size: 1.65rem; }

.login-input {
  border-width: 0 0 1px 0;
  border-style: solid;
  width: 15rem; }

.login-label {
  margin-top: 25px; }

.account {
  padding-top: 65px; }

.account-logout_button {
  cursor: pointer; }

.account-logout {
  font-size: 0.75rem;
  text-transform: uppercase;
  vertical-align: middle; }

.account-loading {
  height: calc(80vh - 56px); }

.account-loadingGif {
  width: 100px;
  height: 91px;
  margin-bottom: 15px; }

.account-loadingInner {
  text-align: center; }

.account-user {
  text-align: right; }

.account-info-wrapper {
  margin-top: 45px; }

.account-table {
  font-size: 0.85em; }

.navbar-logo {
  height: 30px; }

.chart-wrapper {
  max-width: 600px;
  max-height: 600px;
  margin: 15px auto; }
